{% extends "base.html" %}

{% block body %}
<div class="container app-shell">
  <div class="page-header">
    <h1>Предобработка дериватограммы</h1>
  </div>

  <div class="app-layout">
    <div class="app-upload-column">
      {% include "partials/upload_block.html" %}
    </div>

    <div class="app-main-column">
      <div class="main-panel workspace-shell">
        <ul class="nav nav-tabs app-tabs" role="tablist">
          <li class="active" role="presentation">
            <a href="#tab-thermogram" class="tab-link" data-tab-target="tab-thermogram">Термограмма</a>
          </li>
          <li role="presentation">
            <a href="#tab-mixchar" class="tab-link" data-tab-target="tab-mixchar">Деконволюция</a>
          </li>
          <li role="presentation">
            <a href="#tab-debug" class="tab-link" data-tab-target="tab-debug">Debug</a>
          </li>
        </ul>

        <div class="tab-content app-tab-content">
          <div id="tab-thermogram" class="tab-pane active" role="tabpanel">
            {% include "partials/tga2_tab.html" %}
          </div>
          <div id="tab-mixchar" class="tab-pane" role="tabpanel">
            {% include "partials/mixchar_tab.html" %}
          </div>
          <div id="tab-debug" class="tab-pane" role="tabpanel">
            {% include "partials/summary_tab.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="process-response" class="hidden"></div>
</div>
{% endblock %}
